:root {
  --brand-color: #ff6c00;
}

.social-media-link {
  color: #303030;
}

.social-media-link:hover {
  color: var(--brand-color);
}

.hero-content {
  /*TODOO: replace with image */
  background-color: #303030;
  color: white;
}

.nav-about {
  color: var(--brand-color);
}

.nav-link {
  color: white;
}

.address-phone-number {
  color: white;
}

.book-service-button {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border-color: var(--brand-color);
}
